.App {
  text-align: center;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  margin: 0 5%;
}

.btn button {
  margin: 0 auto;
  justify-content: center;
  color: #333333;
  background-color: #f0f0f0;
  font-size: 30px;
  width: 300px;
  height: 100px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 0px rgba(191, 191, 191, 0.3);
}
